@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
    font-family: "Poppins", sans-serif;
    color: #0c0c0c;
    background-color: #ffffff;
    overflow-x: hidden;
}
.newrolestyle {
    border-radius: 10px;
    padding: 20px;
    width: 950px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    background-color: #eee;
}
:root {
    --main-color: #7335b7;
    --main-color-alt: #7335b7;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}

.layout_padding {
    padding: 90px 0;
}

.layout_margin {
    margin: 90px 0;
}

.layout_padding2 {
    padding: 75px 0;
}

.layout_padding2-top {
    padding-top: 75px;
}

.layout_padding2-bottom {
    padding-bottom: 75px;
}

.layout_padding-top {
    padding-top: 90px;
}

.layout_padding-bottom {
    padding-bottom: 90px;
}

.heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

    .heading_container h2 {
        position: relative;
        font-weight: bold;
    }

        .heading_container h2 span {
            color: #7335b7;
        }

    .heading_container.heading_center {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

a,
a:hover,
a:focus {
    text-decoration: none;
}

    a:hover,
    a:focus {
        color: initial;
    }

.btn,
.btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.herro_area {
    background-color: #eee;
    position: relative;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 0 0 350px 0;
}




/*header section*/

.header {
    background-color: #7335b7;
    box-shadow: 0 0 10px #ddd;
    padding: 15px 0;
}

.container-two {
    padding-right: 25px;
    padding-left: 25px;
}

.navbar-brand span {
    font-weight: bold;
    color: #ffffff;
    font-size: 24px;
}

.custom_nav-container {
    padding: 0;
}

    .custom_nav-container .navbar-nav {
        margin: auto;
    }

        .custom_nav-container .navbar-nav .nav-item .nav-link {
            padding: 5px 25px;
            color: #ffffff;
            text-align: center;
            text-transform: uppercase;
            border-radius: 5px;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }

        .custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
            color: #000000;
            background-color: #ffffff;
        }

    .custom_nav-container .navbar-toggler {
        outline: none;
    }

    .custom_nav-container .navbar-toggler {
        padding: 0;
        width: 37px;
        height: 42px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

        .custom_nav-container .navbar-toggler span {
            display: block;
            width: 35px;
            height: 4px;
            background-color: #ffffff;
            margin: 7px 0;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            position: relative;
            border-radius: 5px;
            transition: all 0.3s;
        }

            .custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
                content: "";
                position: absolute;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: #ffffff;
                top: -10px;
                border-radius: 5px;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
            }

            .custom_nav-container .navbar-toggler span::after {
                top: 10px;
            }

        .custom_nav-container .navbar-toggler[aria-expanded="true"] {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }

            .custom_nav-container .navbar-toggler[aria-expanded="true"] span {
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }

                .custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
                    -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
                    top: 0;
                }

            .custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                margin: 0;
                margin-bottom: -4px;
            }

            .custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
                display: none;
            }

            .custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                margin: 0;
                margin-top: -4px;
            }

        .custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
        .custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
        .custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
            -webkit-transform: none;
            transform: none;
        }

.quote_btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

    .quote_btn-container a {
        color: #000000;
        text-transform: uppercase;
    }

.quote_btn {
    margin-right: 10px; /* Add margin to the right of the buttons */
}

.quote_btn-container a span {
    margin-left: 5px;
}

.quote_btn-container a:hover {
    color: #f8842b;
}

.quote_btn-container .quote_btn {
    display: inline-block;
    padding: 5px 25px;
    background-color: #f8842b;
    color: #ffffff;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #f8842b;
}

    .quote_btn-container .quote_btn:hover {
        color: #ffffff;
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }

/*end header section*/
.main-title {
    text-transform: uppercase;
    margin: 0 auto 40px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}

    .main-title::before,
    .main-title::after {
        content: "";
        width: 12px;
        height: 12px;
        background-color: var(--main-color);
        position: absolute;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
    }

    .main-title::before {
        left: -30px;
    }

    .main-title::after {
        right: -30px;
    }

    .main-title:hover::before {
        z-index: -1;
        animation: left-move 0.5s linear forwards;
    }

    .main-title:hover::after {
        z-index: -1;
        animation: right-move 0.5s linear forwards;
    }

    .main-title:hover {
        color: white;
        border: 2px solid white;
        transition-delay: 0.5s;
    }
/* Start Articles */
.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

    .articles .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 40px;
    }

    .articles .box {
        box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
        background-color: white;
        border-radius: 6px;
        overflow: hidden;
        transition: transform var(--main-transition), box-shadow var(--main-transition);
    }

        .articles .box:hover {
            transform: translateY(-10px);
            box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
        }

        .articles .box img {
            width: 100%;
            max-width: 100%;
        }

        .articles .box .content {
            padding: 20px;
        }

            .articles .box .content h3 {
                margin: 0;
            }

            .articles .box .content p {
                margin: 10px 0 0;
                line-height: 1.5;
                color: #777;
                font-weight:bold;
            }

        .articles .box .info {
            padding: 20px;
            border-top: 1px solid #e6e6e7;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .articles .box .info a {
                color: var(--main-color);
                font-weight: bold;
            }

            .articles .box .info i {
                color: var(--main-color);
            }

        .articles .box:hover .info i {
            animation: moving-arrow 0.6s linear infinite;
        }

.pa-f {
    color: #7335b7;
    font-weight:bold;
}

.search {
    margin-bottom: 20px;
}

    .search form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 35px;
    }

.by-name {
    width: 700px;
    max-width: 300px;
    padding: 8px;
    margin-right: 25px;
}

.btn-search {
    background-color: #7335b7;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


    .btn-search:hover {
        background-color: #ab6eec;
        color: white;
    }

    .btn-search.reset {
        background-color: #6c757d;
    }

.col-one .btn-search {
    margin-right: 10px;
}


.btn-cart {
    background-color: #7335b7;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


    .btn-cart:hover {
        background-color: #ab6eec;
        color: white;
    }

    .btn-cart.reset {
        background-color: #6c757d;
    }

.col-one .btn-cart {
    margin-right: 10px;
}


/* End Articles */
@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
    }
}

@keyframes up-and-down {
    0%, 100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing {
    0%, 10%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40%, 60% {
        transform: translateY(-15px);
    }
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}
@media screen and (max-width: 768px) {
    .btn-search {
        margin-top: 20px;
    }

    .by-name {
        width: 255px;
    }
}