<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IVoive_WEB</title>
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />

    <!-- font awesome style -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />

</head>
<body>
    <div class="hero_area">
        <header class="header_section">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <span>
                            IVOICE
                        </span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class=""> </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav  ">
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item active">
                                    <a class="nav-link" asp-controller="Role" asp-action="Index">Roles<span class="sr-only">(current)</span></a>

                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link" href="about.html"> About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="service.html">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact Us</a>
                            </li>
                        </ul>
                        <div class="quote_btn-container">
                            @if (User.Identity.IsAuthenticated == false)
                            {

                                <a asp-controller="Account" asp-action="Login" class="quote_btn">
                                    Login
                                </a>

                                <!-- Add space between buttons -->
                                <span style="margin-right: 10px;"></span>

                                <a asp-controller="Account" asp-action="Register" class="quote_btn">
                                    Register
                                </a>
                            }
                            else
                            {
                                <a class="quote_btn" asp-controller="Account" asp-action="Logout">Logout</a>
                                <span style="margin-right: 10px;"></span>
                                <a class="quote_btn" href="#">welcome @User.Identity.Name</a>
                            }
                        </div>
                    </div>
                </nav>
            </div>
        </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
